<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
	
	<meta itemprop="name" content="">
	<meta itemprop="description" content="">
	<meta itemprop="image" content="">
	
	<meta property="og:locale" content="">
	<meta property="og:type" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	
	<meta name="twitter:card" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:image" content="">
	<meta name="twitter:creator" content="">
	
	<title>Dashboard - Nencer.vn</title>
	
	<link rel="stylesheet" href="./assets/plugin/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./assets/plugin/select2/select2.min.css">
	<link rel="stylesheet" href="./assets/fonts/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="./assets/css/style.css">
	
	<script type="text/javascript" src="./assets/plugin/jquery.min.js"></script>
	<script type="text/javascript" src="./assets/plugin/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="./assets/plugin/select2/select2.min.js"></script>
	<script type="text/javascript" src="./assets/js/theme-script.js"></script>
</head>
<body>
<div class="sidebar" id="navigation">
	<div class="sidebar-logo">
		<a href="" class="d-inline-block">
			<img src="./assets/images/logo-white.png" alt="">
		</a>
		<a href="javascript:void(0)" theme-action="navigation" class="action-navigation no-animation d-block d-lg-none">
			<i></i>
			<i></i>
			<i></i>
		</a>
	</div>
	<div class="sidebar-list">
		<ul class="list-unstyled mb-0">
			<li>
				<a href="#" class="d-inline-block">
					<img src="./assets/images/icon/allservice.svg" alt="">
					Tất cả dịch vụ
				</a>
			</li>
			<li>
				<a href="#" class="d-inline-block">
					<img src="./assets/images/icon/hosting.svg" alt="">
					Hosting
				</a>
			</li>
			<li class="active">
				<a href="" class="d-inline-block">
					<img src="./assets/images/icon/domain.svg" alt="">
					Tên miền
				</a>
			</li>
			<li>
				<a href="" class="d-inline-block">
					<img src="./assets/images/icon/servers.svg" alt="">
					Mảy chủ ảo
				</a>
			</li>
			<li>
				<a href="" class="d-inline-block">
					<img src="./assets/images/icon/server.svg" alt="">
					Mảy chủ vật lý
				</a>
			</li>
			<li>
				<a href="" class="d-inline-block">
					<img src="./assets/images/icon/ssl.svg" alt="">
					Chứng chỉ SSL
				</a>
			</li>
			<li>
				<a href="" class="d-inline-block">
					<img src="./assets/images/icon/email.svg" alt="">
					Email
				</a>
			</li>
			<li>
				<a href="" class="d-inline-block">
					<img src="./assets/images/icon/application.svg" alt="">
					Phần mềm
				</a>
			</li>
			<li>
				<a href="" class="d-inline-block">
					<img src="./assets/images/icon/support.svg" alt="">
					Dịch vụ hỗ trợ
				</a>
			</li>
			<li>
				<a href="" class="d-inline-block">
					<img src="./assets/images/icon/service.svg" alt="">
					Dịch vụ
				</a>
			</li>
		</ul>
	</div>
	<div class="sidebar-overlay" theme-action="overlay"></div>
</div>
<div class="main">
	<div class="header d-none d-md-block">
		<div class="d-flex align-items-center position-relative px-4">
			<div class="header_news">
				<span>News:</span>
				<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
			</div>
			<div class="header_actions">
				<ul class="list-unstyled mb-0 d-flex align-items-center">
					<li>
						<a href="">
							<i class="fas fa-envelope"></i>
						</a>
					</li>
					<li class="theme-action" theme-position="right" theme-action="dropdown">
						<a href="javascript:void(0)">
							<i class="fas fa-user-circle"></i>
							<span>Nguyen Van Nghia</span>
							<i class="fal fa-angle-down arrow"></i>
						</a>
						<ul class="list-unstyled mb-0">
							<li>
								<a href="#">
									Thông tin cá nhân
								</a>
							</li>
							<li>
								<a href="">
									Lịch sử giao dịch
								</a>
							</li>
							<li>
								<a href="">
									Bảo mật tài khoản
								</a>
							</li>
							<li>
								<a href="">
									Thông báo
								</a>
							</li>
							<li>
								<a href="">
									Đổi mật khẩu
								</a>
							</li>
							<li>
								<a href="">
									Đăng xuất
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="body">
		<div class="heading">
			Sản phẩm
		</div>
		<div class="tab-theme">
			<ul class="nav nav-tabs" id="myTab">
				<li class="nav-item">
					<a class="nav-link active" id="domain-tab" data-toggle="tab" href="#domain">
						Domain
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="hosting-tab" data-toggle="tab" href="#hosting">
						Hosting
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="cloudserver-tab" data-toggle="tab" href="#cloudserver">
						Cloud Server
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="server-tab" data-toggle="tab" href="#server">
						Server
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="scripts-tab" data-toggle="tab" href="#scripts">
						Scripts
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="ssl-tab" data-toggle="tab" href="#ssl">
						SSL
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="email-tab" data-toggle="tab" href="#email">
						Email
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="application-tab" data-toggle="tab" href="#application">
						Application
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="support-tab" data-toggle="tab" href="#support">
						Support
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="service-tab" data-toggle="tab" href="#service">
						Service
					</a>
				</li>
			</ul>
			<div class="quick-action">
				<a href="javascript:void(0)">
					<i></i>
				</a>
				<ul class="list-unstyled mb-0">
					<li>
						<a href="">
							<i class="fas fa-credit-card"></i>
							Add Credits
						</a>
					</li>
					<li>
						<a href="">
							<i class="fas fa-credit-card"></i>
							Add Credits
						</a>
					</li>
					<li>
						<a href="">
							<i class="fas fa-credit-card"></i>
							Add Credits
						</a>
					</li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="domain">
					<div class="message-panel panel-info">
						<!--
							có 5 class màu:
							- panel-info,
							- panel-warning,
							- panel-danger,
							- panel-success,
							- panel-secondary
						-->
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, culpa?
						<a href="javascript:void(0)" theme-action="dismiss-messege"
						   class="float-lg-right text-decoration-underline">
							Dismiss
						</a>
					</div>
					<div class="search-sort">
						<div class="d-flex align-content-center justify-content-between">
							<div class="search">
								<form action="" class="mb-0">
									<div class="form-group mb-0">
										<input type="text" placeholder="Search..." class="form-control">
										<button><i class="far fa-search"></i></button>
									</div>
								</form>
							</div>
							<div class="sort theme-action" theme-parent="location" theme-position="right"
							     theme-action="dropdown">
								<a href="javascript:void(0)" theme-id="setLocation">
									<label>Sort</label>
									<span>Location</span>
								</a>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="javascript:void(0)" theme-action="location"
										   data-value="London (United Kingdom)">
											<img src="./assets/images/flag/flag_gb.webp" alt="">
											<span>
										United Kingdom - <b>London</b>
									</span>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)" theme-action="location"
										   data-value="Seoul (South Korea)">
											<img src="./assets/images/flag/flag_kr.webp" alt="">
											<span>
										South Korea - <b>Seoul</b>
									</span>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)" theme-action="location" data-value="Tokyo (Japan)">
											<img src="./assets/images/flag/flag_jp.webp" alt="">
											<span>
										Japan - <b>Tokyo</b>
									</span>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)" theme-action="location"
										   data-value="London (United Kingdom)">
											<img src="./assets/images/flag/flag_gb.webp" alt="">
											<span>
										United Kingdom - <b>London</b>
									</span>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)" theme-action="location"
										   data-value="Seoul (South Korea)">
											<img src="./assets/images/flag/flag_kr.webp" alt="">
											<span>
										South Korea - <b>Seoul</b>
									</span>
										</a>
									</li>
									<li>
										<a href="javascript:void(0)" theme-action="location" data-value="Tokyo (Japan)">
											<img src="./assets/images/flag/flag_jp.webp" alt="">
											<span>
										Japan - <b>Tokyo</b>
									</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="table-theme">
						<div class="table-responsive">
							<table class="table">
								<thead>
								<tr>
									<th class="text-center">
										<div class="checkbox-theme">
											<input type="checkbox" id="checkbox-all">
											<label for="checkbox-all">
												<span></span>
											</label>
										</div>
									</th>
									<th>
										Tên dịch vụ
									</th>
									<th>
										Loại
									</th>
									<th>
										Quốc gia
									</th>
									<th>
										Ngày hết hạn
									</th>
									<th>
										Trạng thái
									</th>
									<th>
									</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td class="text-center">
										<div class="checkbox-theme">
											<input type="checkbox" id="checkbox-1">
											<label for="checkbox-1">
												<span></span>
											</label>
										</div>
									</td>
									<td>
										<div class="name">
											dn2.nencer.com
										</div>
										<div class="text">1024 MB Cloud Compute - 66.42.51.72</div>
									</td>
									<td>
										<div class="text">
											Domain
										</div>
									</td>
									<td>
										<div class="d-flex align-items-center">
											<img src="./assets/images/flag/flag_gb.webp" class="flag" alt="">
											<div class="text">
												United Kingdom
											</div>
										</div>
									</td>
									<td>
										<div class="text">
											24/12/2021
										</div>
									</td>
									<td>
										<div class="text d-flex align-items-center">
											<i class="far fa-play-circle text-success"></i>
											Đang hoạt động
										</div>
									</td>
									<td>
										<div class="theme-action" theme-parent="location" theme-position="right"
										     theme-action="dropdown">
											<a href="javascript:void(0)">
												<span></span>
												<span></span>
												<span></span>
											</a>
											<ul class="list-unstyled">
												<li>
													<a href="">
														<i class="fas fa-eye"></i>
														Xem chi tiết
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-calendar-alt"></i>
														Gia hạn
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-edit"></i>
														Chỉnh sửa
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-trash"></i>
														Xoá
													</a>
												</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<div class="checkbox-theme">
											<input type="checkbox" id="checkbox-2">
											<label for="checkbox-2">
												<span></span>
											</label>
										</div>
									</td>
									<td>
										<div class="name">
											dn2.nencer.com
										</div>
										<div class="text">1024 MB Cloud Compute - 66.42.51.72</div>
									</td>
									<td>
										<div class="text">
											Domain
										</div>
									</td>
									<td>
										<div class="d-flex align-items-center">
											<img src="./assets/images/flag/flag_gb.webp" class="flag" alt="">
											<div class="text">
												United Kingdom
											</div>
										</div>
									</td>
									<td>
										<div class="text">
											24/12/2021
										</div>
									</td>
									<td>
										<div class="text d-flex align-items-center">
											<i class="far fa-times text-danger"></i>
											Hết hạn
										</div>
									</td>
									<td>
										<div class="theme-action" theme-parent="location" theme-position="right"
										     theme-action="dropdown">
											<a href="javascript:void(0)">
												<span></span>
												<span></span>
												<span></span>
											</a>
											<ul class="list-unstyled">
												<li>
													<a href="">
														<i class="fas fa-eye"></i>
														Xem chi tiết
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-calendar-alt"></i>
														Gia hạn
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-edit"></i>
														Chỉnh sửa
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-trash"></i>
														Xoá
													</a>
												</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<div class="checkbox-theme">
											<input type="checkbox" id="checkbox-3">
											<label for="checkbox-3">
												<span></span>
											</label>
										</div>
									</td>
									<td>
										<div class="name">
											dn2.nencer.com
										</div>
										<div class="text">1024 MB Cloud Compute - 66.42.51.72</div>
									</td>
									<td>
										<div class="text">
											Domain
										</div>
									</td>
									<td>
										<div class="d-flex align-items-center">
											<img src="./assets/images/flag/flag_gb.webp" class="flag" alt="">
											<div class="text">
												United Kingdom
											</div>
										</div>
									</td>
									<td>
										<div class="text">
											24/12/2021
										</div>
									</td>
									<td>
										<div class="text d-flex align-items-center">
											<i class="far fa-play-circle text-success"></i>
											Đang hoạt động
										</div>
									</td>
									<td>
										<div class="theme-action" theme-parent="location" theme-position="right"
										     theme-action="dropdown">
											<a href="javascript:void(0)">
												<span></span>
												<span></span>
												<span></span>
											</a>
											<ul class="list-unstyled">
												<li>
													<a href="">
														<i class="fas fa-eye"></i>
														Xem chi tiết
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-calendar-alt"></i>
														Gia hạn
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-edit"></i>
														Chỉnh sửa
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-trash"></i>
														Xoá
													</a>
												</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<div class="checkbox-theme">
											<input type="checkbox" id="checkbox-4">
											<label for="checkbox-4">
												<span></span>
											</label>
										</div>
									</td>
									<td>
										<div class="name">
											dn2.nencer.com
										</div>
										<div class="text">1024 MB Cloud Compute - 66.42.51.72</div>
									</td>
									<td>
										<div class="text">
											Domain
										</div>
									</td>
									<td>
										<div class="d-flex align-items-center">
											<img src="./assets/images/flag/flag_gb.webp" class="flag" alt="">
											<div class="text">
												United Kingdom
											</div>
										</div>
									</td>
									<td>
										<div class="text">
											24/12/2021
										</div>
									</td>
									<td>
										<div class="text d-flex align-items-center">
											<i class="far fa-times text-danger"></i>
											Hết hạn
										</div>
									</td>
									<td>
										<div class="theme-action" theme-parent="location" theme-position="right"
										     theme-action="dropdown">
											<a href="javascript:void(0)">
												<span></span>
												<span></span>
												<span></span>
											</a>
											<ul class="list-unstyled">
												<li>
													<a href="">
														<i class="fas fa-eye"></i>
														Xem chi tiết
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-calendar-alt"></i>
														Gia hạn
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-edit"></i>
														Chỉnh sửa
													</a>
												</li>
												<li>
													<a href="">
														<i class="fas fa-trash"></i>
														Xoá
													</a>
												</li>
											</ul>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="hosting">
					aaaa
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>